[submodule "fakechroot"]
	path = fakechroot
	url = https://github.com/solderzzc/fakechroot.git
[submodule "android-shmem"]
	path = android-shmem
	url = https://github.com/solderzzc/android-shmem.git
[submodule "proot-src"]
	path = proot-src
	url = https://github.com/solderzzc/PRoot.git
